//
// portfolio.scss
//
.container-filter {
    li {
        font-size: 13px;
        padding: 0px 15px; 
        margin: 5px 3px;
        font-weight: 500;
        letter-spacing: 0.8px;
        cursor: pointer;
        line-height: 34px;
        transition: all 0.5s ease;
        &.active,
        &:hover {
            color: $primary !important;
            border-color: $primary !important;
        }
    }
}

.portfolio-box {
    transition: all 0.2s ease;
    .portfolio-box-img {
        img {
            transition: all 0.5s ease;
        }
        .overlay-work {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0; 
            transition: all 0.5s ease;
            background-color: rgba($dark, 0.65);
            .work-content {
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                right: 0;
                left: 0;
                .work-icon {
                    height: 45px;
                    width: 45px;
                    line-height: 43px;
                    transform: translateY(40px);
                    transition: all 0.5s ease;
                    .image-icon {
                        stroke-width: 2 !important;
                    }
                    &:hover {
                        color: $primary !important;
                    }
                }
            }
        }
    }
    .gallary-title {
        background: lighten($gray-100, 5%);
        .title {
            transition: all 0.5s ease;
            font-weight: 500;
            &:hover {
                color: $primary !important;
            }
        }   
    }
    &:hover {
        box-shadow: $shadow-lg;
        transform: translateY(-5px);
        .portfolio-box-img{
            img {
                transform: rotate(2deg) scale(1.15);
                opacity: 0.5;
            }
            .overlay-work {
                opacity: 1;
                transform: scale(1);
                .work-content {
                    .work-icon { 
                        transform: translateY(0px);
                    }
                }
            }
        }
    }
}

//Tobii Lighbox
.tobii__btn svg {
    height: 30px;
    width: auto;
}
.tobii__counter {
    font-size: 16px;
}
.tobii-zoom {
    display: block !important;
}

.tobii-zoom__icon {
    display: none;
}

#grid {
    padding: 0 !important;
}